{% extends 'base.html' %}

{% block title %} Complete {% endblock %}

{% block content %} 
    <h1>Thank you for taking time to fill out our survey!</h1>
    <div class="summary">
        {% for question in surveys[survey].questions %}
            <div class="response">
                <span class="lead">{{question.question}}</span>
                {{responses[loop.index-1]['response']}}
                {% if responses[loop.index-1]['comment'] %}
                    -<i> {{responses[loop.index-1]['comment']}} </i>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}