{% extends 'base.html' %}

{% block title %} Survey {% endblock %}

{% block content %} 
    <h1>Please choose a survey to complete: </h1>
    <form method="POST", action="/select">
        {% for survey in surveys.values() %}
            <div class="option">
                <input type=radio name="options" id={{survey.title}} value={{survey.slug}} />
                <label for={{survey.title}}>{{survey.title}}</label>
            </div>
        {% endfor %}
        <button>Submit</button>
    </form>
{% endblock %}


